@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.skills {
  min-height: 98vh;
  min-width: 80vw;
  padding: 100px 0px 0px 0;
  background-image: url("../../assets/bg-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.skills .title-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h5 {
  font-size: 45px;
  font-weight: 700;
}

.skills p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 50px 0;
}
.skills .skills-list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.skills .skills-list .skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
  margin: 5px;
}

.skills .skills-list .skill-item svg {
  height: 40%;
  width: 40%;
}

.skills .skill-item .skill-progress {
  width: 100%;
  margin: 0 auto 15px auto;
}

@media screen and (max-width: 400px) {
  .skills .skill-item h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .skills {
    padding-top: 20px;
  }
  .skills p {
    margin-bottom: 10px;
  }
}

.skills .click-text .scroll-down-icon {
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
}

.skills .click-text {
  position: absolute;
  bottom: 55px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.skills .click-text p {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

